<div class="general-settings">
  <div>
    <div>
      <span>
        <img class="change-logo" src="../../../assets/img/js.png"/>
      </span>
    </div>
    
    <a class="button is-small is-text">
      <span>Change</span>
    </a>
  </div><br/>

  <div>Organization name: <strong>{{user.institutionid.name}}</strong></div><br/>

  <div>
    <h2 class="subtitle is-12">Sync with</h2>
    <a class="button is-medium">
      <span class="icon">
        <i class="fa fa-google"></i>
      </span>
      <span>Google Drive</span>
    </a>

    <a class="button is-medium">
      <span class="icon">
        <i class="fa fa-dropbox"></i>
      </span>
      <span>Dropbox</span>
    </a>
  </div><br/>
      
  <div>
    <h2 class="subtitle">Directories</h2>
    <label class="label is-small">Document Directory</label>
    <div class="field has-addons">
      <div class="control has-icons-left is-expanded">
        <input class="input is-small" type="text" placeholder="http://" />
  
        <span class="icon is-small is-left">
          <i class="fa fa-folder"></i>
        </span>
      </div>

      <p class="control">
        <a class="button is-secondary is-small">Validate</a>
      </p>
    </div>

    <label class="label is-small">Archive Directory</label>
    <div class="field has-addons">
      <div class="control has-icons-left is-expanded">
        <input class="input is-small" type="text" placeholder="http://" />
  
        <span class="icon is-small is-left">
          <i class="fa fa-folder"></i>
        </span>
      </div>

      <p class="control">
        <a class="button is-secondary is-small">Validate</a>
      </p>
    </div>
  </div>

  <div class="is-clearfix">
    <div class="account-settings-item is-clearfix">
      <div class="is-pulled-left">
        <span class="as-title">Manage blocked users</span><br/>
        <span class="as-subtitle"><small>View list of users you have blocked</small></span>
      </div>
  
      <div class="is-pulled-right">
        <router-link to="/users" class="button">MANAGE BLOCKED USERS</router-link>
      </div>
    </div>

    <br/>
    <div class="field is-grouped is-grouped-right">
      <p class="control">
        <a class="button is-secondary">
          Save changes
        </a>
      </p>
      <p class="control">
        <a class="button is-light">
          Cancel
        </a>
      </p>
    </div>
  </div>
</div>