<div class="view">
  <uploadModal :isUploadActive="setUploadActive" :closeModal="closeModal" />
  <categoryModal v-if="isNewCategoryActive === true" :isNewCategoryActive="isNewCategoryActive" :closeNewCategory="closeCategoryModal"
    :addCategory="create_new_category" :newCategory="new_category" :reset="reset" :loading="isLoading" />

  <div class="columns">
    <!--Left column-->
    <div class="column">
      <div class="pagntn columns">
        <div class="column is-one-quarter" @click="setSubFoldersNull()" style="cursor:pointer">
          <span>
            <i class="fa fa-folder"></i>
          </span>
          <span>
            <small>Document Categories</small>
          </span>
        </div>

        <div class="column is-centered">
          <pagination></pagination>
        </div>

        <div class="column is-one-quarter category-based-actions">
          <span :class="{'cba':true, 'is-active':isListType}" @click="setListType()">
            <i class="fa fa-list-alt fa-2x"></i>
          </span>
          <span :class="{'cba':true, 'is-active':isFolderType}" @click="setFolderType()">
            <i class="fa fa-th fa-2x"></i>
          </span>
          <span class="cba">
            <a class="button is-outlined is-small">View Projects</a>
          </span>
        </div>
      </div>

      <hr/>
      <!--Display folders-->
      <div class="foldersDiv">
        <folders :isListType="isListType" :isFolderType="isFolderType" v-show="viewSubFolders == false"></folders>
        <subfolders v-show="viewSubFolders == true"></subfolders>
      </div>
      <!--End of Display folders-->
    </div>
    <!--End of Left column-->


    <!--Right column-->
    <div class="column is-one-quarter">
      <search></search>
      <hr/>
      <p>
        <div class="documentAction">
          <span>
            <input type="checkbox">
          </span>
          <span>Select all</span>
        </div>

        <div class="documentAction" @click="displayUploadModal">
          <span>
            <i class="fa fa-upload"></i>
          </span>
          <span>Upload files</span>
        </div>

        <div class="documentAction" @click="openCategoryModal">
          <span>
            <i class="fa fa-folder"></i>
          </span>
          <span>Create category</span>
        </div>

        <div class="documentAction">
          <span>
            <i class="fa fa-plus-square"></i>
          </span>
          <span>New project</span>
        </div>

        <div class="documentAction" @click="Delete">
          <span>
            <i class="fa fa-trash"></i>
          </span>
          <span>Delete</span>
        </div>

        <div class="documentAction">
          <span>
            <i class="fa fa-share"></i>
          </span>
          <span>Share</span>
        </div>
      </p>
    </div>
    <!--End of Right column-->
  </div>
  
  <commentArea></commentArea>
</div>