<div class="view">
  <uploadModal :isUploadActive="setUploadActive" :closeModal="closeModal" />
  <categoryModal v-if="isNewCategoryActive === true" :isNewCategoryActive="isNewCategoryActive" :closeNewCategory="closeCategoryModal"
    :addCategory="create_new_category" :newCategory="new_category" :reset="reset" :loading="isLoading" />
  <addProjectModal v-if="isProjectModalActive === true" :isProjectModalActive="isProjectModalActive" :closeProjectModal="closeProjectModal" :loading="isProjectLoading"
    :project="project" :addProject="create_new_project"/>
  <shareDoc :isShareActive="setShareActive":closeShareModal="closeShareModal" />
  
  <div class="columns">
    <!--Left column-->
    <div class="column" v-if="file_opened === false">
      <div class="pagntn columns">
        <div class="column is-one-half back-btn" @click="setSubFoldersNull()">
          <strong class="back-btn">
            <span>
              <i class="fa fa-arrow-circle-left"></i>
            </span>
            <span>
              <small>Document Categories</small>
            </span>
          </strong>
        </div>

        <!--div class="column is-centered">
          <pagination></pagination>
        </div-->

        <div class="column is-half category-based-actions">
          <span :class="{'cba':true, 'is-active':isListType}" @click="setListType()">
            <i class="fa fa-list-alt fa-2x"></i>
          </span>
          <span :class="{'cba':true, 'is-active':isFolderType}" @click="setFolderType()">
            <i class="fa fa-th fa-2x"></i>
          </span>
          <span class="cba">
            <a class="button is-small">View Projects</a>
          </span>
          <span class="cba is-pulled-right" style="color:indianred" v-if="selectedDocs.length > 0" @click="Delete">
              <i class="fa fa-trash fa-2x"></i>
            </span>
            <span></span>
            <span class="cba is-pulled-right" v-if="selectedDocs.length > 0" @click="showdocShareModal">
              <i class="fa fa-external-link-square fa-2x"></i>
            </span>
          <span class="cba is-pulled-right" style="color:indianred" v-if="selectedDocumentIds.length > 0" @click="Delete">
            <i class="fa fa-trash fa-2x"></i>
          </span>
          <span></span>
          <span class="cba is-pulled-right" v-if="selectedDocumentIds.length > 0" @click="showcatShareModal">
            <i class="fa fa-external-link-square fa-2x"></i>
          </span>
        </div>
      </div>

      <hr/>
      <!--Display folders-->
      <div class="foldersDiv">
        <template v-if="isSearchResultReady === false || isSearchResultReady === undefined">
          <folders :isListType="isListType" :isFolderType="isFolderType" v-show="viewSubFolders == false"/>
          <!--folders :isListType="isListType" :isFolderType="isFolderType" v-show="viewSubFolders == false"/>  
          <folders :isListType="isListType" :isFolderType="isFolderType" v-show="viewSubFolders == false"/-->
          <subfolders :isListType="isListType" :isFolderType="isFolderType" :createProject="openProjectModal" v-show="viewSubFolders == true"/>
        </template>

        <template v-else>
          <searchResults></searchResults>
        </template>
      </div>
      <!--End of Display folders-->
    </div>

    <div v-if="file_opened === true" class="column">
      <preview__canvas></preview__canvas>
    </div>
    <!--End of Left column-->


    <!--Right column-->
    <div class="column is-one-quarter">
      <commentArea v-if="file_opened === true"></commentArea>
      <div v-if="file_opened === false">
        <search></search>
        <hr/>
        <p>
          <div class="documentAction" @click="displayUploadModal">
            <span>
              <i class="fa fa-upload"></i>
            </span>
            <span>Upload files</span>
          </div>

          <div class="documentAction" @click="openCategoryModal">
            <span>
              <i class="fa fa-folder"></i>
            </span>
            <span>Create category</span>
          </div>

          <div class="documentAction" @click="openProjectModal">
            <span>
              <i class="fa fa-plus-square"></i>
            </span>
            <span>New project</span>
          </div>
        </p>
      </div>
    </div>
    <!--End of Right column-->
  </div>
  
  
</div>