<div class="view">
  <uploadModal :isUploadActive="setUploadActive" :closeModal="closeModal" />
  <categoryModal v-if="isNewCategoryActive === true" :isNewCategoryActive="isNewCategoryActive" :closeNewCategory="closeCategoryModal"
    :addCategory="create_new_category" :newCategory="new_category" :reset="reset" :loading="isLoading" />
  <addProjectModal v-if="isProjectModalActive === true" :isProjectModalActive="isProjectModalActive" :closeProjectModal="closeProjectModal" :loading="isProjectLoading"
    :project="project" :addProject="create_new_project"/>

  <div class="columns">
    <!--Left column-->
    <div class="column">
      <div class="pagntn columns">
        <div class="column is-one-quarter back-btn" @click="setSubFoldersNull()">
          <strong class="back-btn">
            <span>
              <i class="fa fa-arrow-circle-left"></i>
            </span>
            <span>
              <small>Document Categories</small>
            </span>
          </strong>
        </div>

        <div class="column is-centered">
          <pagination></pagination>
        </div>

        <div class="column is-one-quarter category-based-actions">
          <span :class="{'cba':true, 'is-active':isListType}" @click="setListType()">
            <i class="fa fa-list-alt fa-2x"></i>
          </span>
          <span :class="{'cba':true, 'is-active':isFolderType}" @click="setFolderType()">
            <i class="fa fa-th fa-2x"></i>
          </span>
          <span class="cba">
            <a class="button is-outlined is-small">View Projects</a>
          </span>
        </div>
      </div>

      <hr/>
      <!--Display folders-->
      <div class="foldersDiv">
        <folders :isListType="isListType" :isFolderType="isFolderType" v-show="viewSubFolders == false"/>  
        <subfolders :isListType="isListType" :isFolderType="isFolderType" :createProject="openProjectModal" v-show="viewSubFolders == true"/>
      </div>
      <!--End of Display folders-->
    </div>
    <!--End of Left column-->


    <!--Right column-->
    <div class="column is-one-quarter">
      <search></search>
      <hr/>
      <p>
        <div class="documentAction" @click="displayUploadModal">
          <span>
            <i class="fa fa-upload"></i>
          </span>
          <span>Upload files</span>
        </div>

        <div class="documentAction" @click="openCategoryModal">
          <span>
            <i class="fa fa-folder"></i>
          </span>
          <span>Create category</span>
        </div>

        <div class="documentAction" @click="openProjectModal">
          <span>
            <i class="fa fa-plus-square"></i>
          </span>
          <span>New project</span>
        </div>

        <hr/>

        <div class="documentAction">
          <span>
            <label class="label">
              <input type="checkbox" v-model="select"> Select all
            </label> 
          </span>
        </div>

        <div class="documentAction" @click="Delete">
          <span>
            <i class="fa fa-trash"></i>
          </span>
          <span>Delete</span>
        </div>

        <div class="documentAction">
          <span>
            <i class="fa fa-share"></i>
          </span>
          <span>Share</span>
        </div>
      </p>
    </div>
    <!--End of Right column-->
  </div>
  
  <commentArea v-if="viewSubFolders == true"></commentArea>
</div>