<div class="login-background">
  <div class="box login-box columns is-gapless">
    <div class="column company-id">
      <div class="company-id-top">
          <div class="logo-area">
            <span><img src="../../../assets/img/auth-cabsol.png" width="70" height="70"/><!--i class="fa fa-hdd-o"></i--></span>&nbsp;
            <!--span>Acuity<span class="app-name">drive</span></span-->
          </div>
          <div class="typingText">{{demo}}<span><i class="fa fa-i-cursor"></i></span></div>
      </div>
      
      <div class="company-id-bottom">
        <div class="homeLinks">
          <a><span><i class="fa fa-space-shuttle"></i></span> Take a tour</a>
          <a><span><i class="fa fa-file-text-o"></i></span> Documentation</a>
          <a><span><i class="fa fa-money"></i></span> Pricing</a>
          <a><span><i class="fa fa-cube"></i></span> Features</a>
        </div>
      </div>
      
    </div>

    <span class="column auth-section">
      <template v-if="authbtns === true">
        <div class="sign-in" @click="openSigninForm()">
          <div>
            <span><i class="fa fa-sign-in fa-5x"></i></span>
            <h1 class="auth-title"> Sign In</h1>
          </div>
        </div>
        <div class="sign-up" @click="openSignupForm()">
          <div>
            <span><i class="fa fa-user-plus fa-4x"></i></span>
            <h1 class="auth-title"> Sign up</h1>
          </div>
        </div>
      </template>

      <section v-if="authbtns === false" class="auth-forms">
        <div class="auth-close-btn" @click="closeForms"><i class="fa fa-times"></i></div>
        <!--SIGN IN FORM-->
        <div class="sign-in-form" v-if="signinForm === true">
          <span class="signin-header"><i class="fa fa-sign-in"></i>&nbsp;Sign in</span>
          <div class="auth-form-container">
            <div class="has-text-centered welcome-msg">
              <div><img src="../../../assets/img/auth-cabsol.png" width="50" height="50"/></div>
              <span class="title">Welcome back!</span>
              <div class="sub-title">Please login to access your account</div>
            </div>
            
            <form v-on:submit.prevent>
              <div class="field">
                <div class="control has-icons-left">
                  <input 
                    class="input is-rounded" 
                    type="text" 
                    placeholder="Username" 
                    v-model.trim="login_deet.username" 
                    :disabled="isLogging"
                    required
                  />
                  <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
                </div>
              </div>
                
              <div class="field">
                <div class="control has-icons-left">
                  <input 
                    class="input" 
                    type="password" 
                    placeholder="******" 
                    v-model.trim="login_deet.password" 
                    :disabled="isLogging"
                    required
                  >
                  <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                </div>
              </div>

              <div class="field">
                <button 
                  type="submit" 
                  :class="{'button':true, 'is-primary':true, 'is-fullwidth':true, 'is-loading':isLogging}"
                  @click="tryLogin" 
                ><span class="icon"><i class="fa fa-lock"></i></span> <span>Sign In</span> </button>
              </div>

              <div v-if="signinErr" class="has-text-centered"><small class="is-error">{{ signinErr }}</small></div>
              <br/>
            </form>

            <!--div class="has-text-centered">
              <div class="sm-header"><span>or use social media login</span></div>
              <div class="social-login-btns">
                <div class="social-login-facebook"><i class="fa fa-facebook fa-2x"></i></div>
                <div class="social-login-insta"><i class="fa fa-instagram fa-2x"></i></div>
                <div class="social-login-twitter"><i class="fa fa-twitter fa-2x"></i></div>
              </div>   
            </div-->

            <div class="has-text-centered">
              <span>Forgot password? <a>Reset</a></span><br/>
              <span>Don't have an account? <a @click="openSignupForm()">Sign up</a></span>
            </div>
          </div>
        </div>
        <!--END SIGN IN FORM-->

        <!--SIGN UP FORM-->
        <div id="signupFormd" class="sign-up-form" v-if="signupForm === true">
          <span class="signin-header"><i class="fa fa-user-plus"></i>&nbsp;Sign up</span>
          <div class="auth-form-container">
            <div class="has-text-centered welcome-msg">
              <span class="title">Create Account.</span>
              <div class="sub-title">You are steps away from saving your files.</div>
            </div>
            <div class="field is-horizontal">
              
                <p class="control ">
                <input type="checkbox" v-on:change="getInd" v-model="indcheck" > Individual
              </p>
              
                <p style="padding-left: 100px" class="control ">
                <input type="checkbox" v-on:change="getOrg" v-model="orgcheck" > Organization
              </p>
              
              
            </div>
            <div class="field">
              <div class="control has-icons-left">
                <input class="input is-small" type="text" placeholder="Username" v-model="user.userName">
                <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
              </div>
            </div>
               
            <div class="field">
              <div class="control has-icons-left">
                <input class="input is-small" type="password" placeholder="******" v-model="user.password">
                <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
              </div>
            </div>

            <div class="field">
              <div class="control has-icons-left">
                <input class="input is-small" type="password" placeholder="confirm password">
                <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
              </div>
            </div>

            <!--div class="field">
              <a class="button is-primary is-fullwidth">Sign up</a>
            </div-->

            <div class="has-text-centered" v-show ="showOrg">
              <!--div class="sm-header"><span>or create organization</span></div-->
              
              <div class="field">
                <div class="control has-icons-left">
                  <input class="input is-small" type="text" placeholder="Organization name" v-model="user.institutionid.name">
                  <span class="icon is-small is-left"><i class="fa fa-bank"></i></span>
                </div>
              </div>
                  
              <div class="field">
                <div class="control has-icons-left">
                  <input class="input is-small" placeholder="Contact Person" v-model="user.institutionid.contactperson">
                  <span class="icon is-small is-left"><i class="fa fa-address-book"></i></span>
                </div>
              </div>
  
              <div class="field">
                <div class="control has-icons-left">
                  <input class="input is-small" type="email" placeholder="Contact Email" v-model="user.institutionid.contactEmail">
                  <span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
                </div>
              </div>
              <div class="field">
                  <div class="control has-icons-left">
                      <span class="select">
                        <select v-on:change="getSelected" v-model="selected">
                          <option selected>Business Type</option>
                          <option v-for="businesstype in businesstypes" :value="businesstype.id" 
                          v-model="user.institutionid.businesstypeid.id">{{businesstype.businesstype}}</option>
                        </select>
                        </span>
                        <span class="icon is-small is-left"><i class="fa fa-briefcase"></i></span>
                  </div>
                </div>
                <div v-if="create_usererror != ''" style="color:#da2347;font-weight:600" class="has-text-centered">
                  <small>{{create_usererror}}</small>
                </div>
              <div class="field">
                  <button 
                  type="submit"
                  :class="{'button':true, 'is-primary':true, 'is-loading':isLoading}" 
                  style="width:100%"
                  @click="signUp ">
                  <span>Sign up</span>
              </button>
                </div>
            </div>

            <div class="has-text-centered">
              <span>Already have an account? <a @click="openSigninForm()">Sign in</a></span>
            </div>
          </div>
        </div>
        <!--END SIGN UP FORM-->
      </section>
    </span>
  </div>
</div>
