<span :class="{'modal':true,'is-active':isUploadActive}">
  <div class="modal-content upload-modal">
    <div class="close-btn" @click="closeModal();reset()"><i class="fa fa-close"></i></div>
    <div>
      <div>
        <span><i class="fa fa-upload"></i></span>
        <span>Upload new file.<br/></span>
      </div>

      <form enctype="multipart/form-data" novalidate v-if="isInitial || isSaving">
        <div class="dropbox">
          <input 
            type="file" 
            multiple 
            :name="uploadFieldName" 
            :disabled="isSaving" 
            @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
            class="input-file"
          >
            <p v-if="isInitial">
              Drag your file(s) here to begin<br> or click to browse
            </p>
            <p v-if="isSaving">
              Uploading {{ fileCount }} file(s)...
            </p>
        </div>
      </form>
      
      <div class="upload-btn-1">
        <a class="button is-success is-outlined">
          <span>Continue</span>
          <span class="icon is-small">
            <i class="fa fa-chevron-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</span>