<div class="view">
  <div class="dashboard-area">
    <div class="top-area">
      <span>
        <!--h2 class="title is-5 dash-title">Overview</h2-->
        <div class="overview">
          <div class="doc-stats acuity-card">
            <div class="doc-stats-item"> 
              <small>Total documents</small> <br/>
              <span class="num">67</span>
            </div> 
          </div>

          <div class="doc-stats acuity-card">
            <div class="doc-stats-item"> 
              <small>Total projects</small> <br/>
              <span class="num">7</span>
            </div>
          </div>

          <div class="doc-stats acuity-card">
            <div class="doc-stats-item"> 
              <small>Drafted Documents</small> <br/>
              <span class="num">17</span>
            </div>
          </div>

          <div class="doc-stats acuity-card">
            <div class="doc-stats-item"> 
              <small>Archived documents</small> <br/>
              <span class="num">0</span>
            </div>
          </div>
          
          <div class="doc-stats acuity-card">
            <div class="doc-stats-item"> 
              <small>Document categories</small> <br/>
              <span class="num">100</span>
            </div>
          </div>

          <div class="doc-stats acuity-card">
            <div class="doc-stats-item"> 
              <small>Total users</small> <br/>
              <span class="num">6</span>
            </div>
          </div>
        </div>
      </span>

      <!--span class="interactions">
        
        <div class="acuity-card interaction-graph">
          
        </div>
      </span-->
      <div class="graph-area">
        <h2 class="title is-5 dash-title">Activity</h2>
        <div class="columns">
          <div class="column acuity-chart"><lineChart></lineChart></div>
          <div class="column acuity-chart">
            <div class="activity-details-chart"><doughnutChart></doughnutChart></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>