<div class="view">
  <div class="dashboard-area">
    <div class="top-area">
      <span>
        <div class="overview columns">
          <div class="column">
            <div class="user-dashboard">
              <div ><img src="../../../assets/img/user.jpg" class="user-dashboard-img"></div>
              <div class="user-dashboard-content">
                <div>
                  <small>Space used</small><br/>
                  <progress class="progress is-primary" value="108" max="200">54%</progress>
                </div>
                <div>54%</div>
                <div>
                  <small>Bandwidth</small><br/>
                  <progress class="progress is-success" value="20" max="100">54%</progress>
                </div>
                <div>20%</div>
              </div>
            </div>
          </div>

          <div class="column doc-stats">
            <div class="acuity-card">
              <div class="doc-stats-item"> 
                <small>Total documents</small> <br/>
                <span class="num">67</span>
              </div> 
            </div>

            <div class="acuity-card">
              <div class="doc-stats-item"> 
                <small>Total projects</small> <br/>
                <span class="num">7</span>
              </div>
            </div>

            <div class="acuity-card">
              <div class="doc-stats-item"> 
                <small>Drafts</small> <br/>
                <span class="num">17</span>
              </div>
            </div>

            <div class="acuity-card">
              <div class="doc-stats-item"> 
                <small>Archived documents</small> <br/>
                <span class="num">1</span>
              </div>
            </div>
            
            <div class="acuity-card">
              <div class="doc-stats-item"> 
                <small>Document categories</small> <br/>
                <span class="num">100</span>
              </div>
            </div>

            <div class="acuity-card">
              <div class="doc-stats-item"> 
                <small>Notifications</small> <br/>
                <span class="num">12</span>
              </div>
            </div>
          </div>
        </div>
      </span>


      <div class="graph-area">
        <h2 class="title is-5 dash-title">Activity</h2>
        <div class="columns">
          <div class="column acuity-chart"><lineChart></lineChart></div>
          <div class="column acuity-chart">
            <div class="activity-details-chart"><doughnutChart></doughnutChart></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>