<div class="view">
  <div class="dashboard-area">
    <div class="top-area">
      <span>
        <div class="overview columns">
          <div class="column">
            <div class="user-dashboard">
              <div class="user-dashboard-content">
                <div>
                  <i class="fa fa-cube"></i>
                  Good day, {{user.firstName + " " + user.middleName + " " + user.lastName}}
                </div>
                <br/>
                <div>
                  <small>Space used</small><br/>
                  <progress class="progress is-primary" value="108" max="200">54%</progress>
                </div>
                <div>44% of 2GB</div>
              </div>
            </div>
          </div>

          <div class="column doc-stats">
            <div class="acuity-card">
              <div class="doc-stats-item"> 
                <small>Total documents</small> <br/>
                <span class="num">27</span>
              </div> 
            </div>

            <div class="acuity-card">
              <div class="doc-stats-item"> 
                <small>Total projects</small> <br/>
                <span class="num">7</span>
              </div>
            </div>

            <div class="acuity-card">
              <div class="doc-stats-item"> 
                <small>Drafts</small> <br/>
                <span class="num">0</span>
              </div>
            </div>

            <div class="acuity-card">
              <div class="doc-stats-item"> 
                <small>Archived documents</small> <br/>
                <span class="num">0</span>
              </div>
            </div>
            
            <div class="acuity-card">
              <div class="doc-stats-item"> 
                <small>Document categories</small> <br/>
                <span class="num">55</span>
              </div>
            </div>

            <div class="acuity-card">
              <div class="doc-stats-item"> 
                <small>Notifications</small> <br/>
                <span class="num">0</span>
              </div>
            </div>
          </div>
        </div>
      </span>


      <div class="graph-area">
        <h2 class="title is-5 dash-title">Activity</h2>
        <div class="columns">
          <div class="column acuity-chart"><lineChart  :data="documentActivities" :options="options"></lineChart></div>
          <div class="column acuity-chart">
            <div class="activity-details-chart"><doughnutChart></doughnutChart></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>