<div id="mySidenav" class="sidenav">
  <router-link to="/" :class="{'routeIsActive':activeRoute.dashActive}">
    <div class="route-name">
      <span><i class="fa fa-tachometer"></i></span>
      <span>Dashboard</span>
    </div>
  </router-link>
  <router-link to="/documents" :class="{'routeIsActive':activeRoute.accountActive}">
    <div class="route-name">
      <span><i class="fa fa-folder-open"></i></span>
      <span>Documents</span>
    </div>
  </router-link>
  <router-link to="/users" :class="{'routeIsActive':activeRoute.budgetActive}">
    <div class="route-name">
      <span><i class="fa fa-user"></i></span>
      <span>Users</span>
    </div>
  </router-link>
  <router-link to="/settings" :class="{'routeIsActive':activeRoute.settingsActive}">
    <div class="route-name">
      <span><i class="fa fa-gear"></i></span>
      <span>Settings</span>
    </div>
  </router-link>
  <!--router-link to="/transactions" :class="{'routeIsActive':activeRoute.transactActive}">
      <span><i class="fa fa-exchange"></i></span>
      <span>Transactions</span>
  </router-link>
  <router-link to="/users" :class="{'routeIsActive':activeRoute.usersActive}">
      <span><i class="fa fa-users"></i></span>
      <span>Users</span>
  </router-link>
  <router-link to="/reports" :class="{'routeIsActive':activeRoute.reportActive}">
      <span><i class="fa fa-clone"></i></span>
      <span>Reports</span>
  </router-link-->
  <div class="cpyryt">
    <small>&copy; 2017 COMSOFT Acuity Limited</small>
  </div>
</div>