<div id="mySidenav" class="sidenav">
  <router-link to="/" :class="{'routeIsActive':activeRoute.dashActive}">
    <span><i class="fa fa-tachometer"></i></span>
    <span>Dashboard</span>
  </router-link>
  <router-link to="/documents" :class="{'routeIsActive':activeRoute.accountActive}">
    <span><i class="fa fa-folder-open"></i></span>
    <span>Documents</span>
  </router-link>
  <router-link to="/users" :class="{'routeIsActive':activeRoute.budgetActive}">
    <span><i class="fa fa-user"></i></span>
    <span>Users</span>
  </router-link>
  <router-link to="/settings" :class="{'routeIsActive':activeRoute.settingsActive}">
    <span><i class="fa fa-gear"></i></span>
    <span>Settings</span>
  </router-link>
  <!--router-link to="/transactions" :class="{'routeIsActive':activeRoute.transactActive}">
      <span><i class="fa fa-exchange"></i></span>
      <span>Transactions</span>
  </router-link>
  <router-link to="/users" :class="{'routeIsActive':activeRoute.usersActive}">
      <span><i class="fa fa-users"></i></span>
      <span>Users</span>
  </router-link>
  <router-link to="/reports" :class="{'routeIsActive':activeRoute.reportActive}">
      <span><i class="fa fa-clone"></i></span>
      <span>Reports</span>
  </router-link-->
</div>