<div id="mySidenav" class="sidenav">
  <div class="cabsol">
    <img src="../../../assets/img/cabsol.png"/>
  </div>
  
  <router-link to="/" :class="{'routeIsActive':activeRoute.dashActive}">
    <div class="route-name">
      <span><i class="fa fa-tachometer"></i></span>
      <span>Dashboard</span>
    </div>
  </router-link>
  <router-link to="/documents" :class="{'routeIsActive':activeRoute.documentActive}">
    <div class="route-name">
      <span><i class="fa fa-folder-open"></i></span>
      <span>Documents</span>
    </div>
  </router-link>
  <router-link to="/users" :class="{'routeIsActive':activeRoute.usersActive}">
    <div class="route-name">
      <span><i class="fa fa-user"></i></span>
      <span>Users</span>
    </div>
  </router-link>
  <router-link to="/settings" :class="{'routeIsActive':activeRoute.settingsActive}">
    <div class="route-name">
      <span><i class="fa fa-gear"></i></span>
      <span>Settings</span>
    </div>
  </router-link>
  <router-link to="/help" :class="{'routeIsActive':activeRoute.helpActive}">
    <div class="route-name">
      <span><i class="fa fa-question-circle"></i></span>
      <span>Help</span>
    </div>
  </router-link>
<hr/>
  <div class="global-search-button">
    <div class="field">
      <label class="label">Search</label>
      <div class="control has-icons-left has-icons-right">
        <input 
          :disabled="isSearching"
          class="input" 
          type="text" 
          placeholder="Type here to search"  
          v-on:keyup.enter="searchFor" 
          v-model="searchKeyword"
        />

        <span class="icon is-small is-left">
          <i class="fa fa-search"></i>
        </span>
        <span class="icon is-small is-right" v-if="isSearching === true">
          <i class="fa fa-spinner"></i>
        </span>
      </div>
      <strong><p class="help is-danger" v-if="error">{{error}}</p></strong>
    </div>
  </div>
  <!--router-link to="/transactions" :class="{'routeIsActive':activeRoute.transactActive}">
      <span><i class="fa fa-exchange"></i></span>
      <span>Transactions</span>
  </router-link>
  <router-link to="/users" :class="{'routeIsActive':activeRoute.usersActive}">
      <span><i class="fa fa-users"></i></span>
      <span>Users</span>
  </router-link>
  <router-link to="/reports" :class="{'routeIsActive':activeRoute.reportActive}">
      <span><i class="fa fa-clone"></i></span>
      <span>Reports</span>
  </router-link>
  <div class="cpyryt">
    <small>&copy; 2017 COMSOFT Acuity Limited</small>
  </div-->
</div>