<div class="document_footer" :style="{'height': +document_Footer+'px'}">
  <nav class="commentHeader level">
    <div class="level-item has-text-centered"></div>
    <div class="level-item has-text-centered">
      <div class="tabs is-toggle is-small">
        <ul>

          <li class="tab" @click="setcomActive" :class="{'is-active':iscomActive}">
            <a>
              <span class="icon is-small">
                <i class="fa fa-comment"></i>
              </span>
              <span>Comments
                <span class="tag is-rounded is-primary">4</span>
              </span>
            </a>
          </li>

          <li class="tab" @click="setActive" :class="{'is-active':isActive}">
            <a>
              <span class="icon is-small">
                <i class="fa fa-clone"></i>
              </span>
              <span>Activities
                <span class="tag is-rounded is-primary">7</span>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="level-item has-text-centered">
    </div>
  </nav>

  <div class="subFooter">
    <div id="comments" v-if="iscomActive == true">
      <comments></comments>
    </div>

    <div id="activities" v-else-if="isActive == true">
      <activities></activities>
    </div>
  </div>
</div>