<li class="row"> 
  <div class="collapsible-header col s12">
    <div class="col s6">
      <div class="row">
        <div class="left-align col s1"><i class="material-icons medium">note</i></div>
        <template class="truncate col s11">{{docName}}<br/>Umar Abdullahi</template>
      </div>
    </div>

    <div class="right-align col s6">
      <div>
        <i class="material-icons">delete</i>
        <i class="material-icons">search</i>
      </div>
      Updated yesterday
    </div>
  </div>
  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
</li>