<tr>
    <template>
    <td>
    <input 
              type = "checkbox" 
              :value = "userid" 
              @click = "isSelected"
              v-model = "checkbox"
            />
    </td>
        <td class="updateUser" @click="isActive = true">{{username}}</td>
        <td>{{emailaddress}}</td>
        <td>{{phonenumber}}</td>
        <td>{{datecreated}}</td>
        <td>{{lastlogin}}</td>
    
    <updateUser
     :username="username"
     :firstname="firstname"
     :emailaddress="emailaddress"
     :phonenumber="phonenumber"
     :pissid="password"
     :confirmpassword="confirmpassword"
     :isActive="isActive"
     :closeModal= "closeModal"
     v-if="isActive === true"
    ></updateuser>
    </template>
</tr>