

    <form>
      <div class="row">
        <div class="input-field col s6">
          <input id="search" type="search" class="validate">
          <label for="search">Search here.</label>
        </div>

        <div class="col s2">
            <label>Filter</label>
            <select class="browser-default">
              <option value="" disabled selected>Choose filter</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
        </div>

        <div class="col s4" style="margin-top:25px">
          <a class="waves-effect waves-light btn grey darken-1">
            <i class="material-icons left">search</i>
            Search
          </a>
          <a class="waves-effect waves-light btn blue lighten-1">
            <i class="material-icons left">folder</i>Open folder
          </a>
        </div>
      </div>  
    </form>

