<div>
  <div class="has-text-centered">
    <small class="tag is-danger" v-if="searchError && searchResults === null">Unexpected : {{searchError}}</small>
    <small class="tag is-success" v-if="searchResults !== null">{{searchResults.length}} documents found!</small>
  </div>
  <table class="table is-fullwidth is-striped is-narrow is-hoverable">
      <tbody>
        <sresultItem v-for="(result, index) in searchResults" :result="result" :key="index"></sresultItem>
      </tbody>
  </table>
</div>