<div class="commentBox">
  <div class="commentCtrls">
    <div class="field">
      <p class="control">
        <textarea class="textarea commentField" placeholder="Add a comment..."></textarea>
      </p>
    </div>
    <!--div class="field" style="float:right">
      <p class="control">
        <button class="button is-rounded is-outlined is-primary">Post Comment</button>
      </p>
    </div-->
  </div>
<hr/>
  <article class="media" v-for="(comment,index) in comments">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png" class="commentImg">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Barbara Middleton</strong> <small> 3hrs ago</small>
          <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non.
          Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
          <br>
          <small> <a>Like</a> </small>
        </p>
      </div>
    </div>
  </article>
</div>