
<div class="user-card">
  <div class="user-elipsis"
  @mouseover="displayControl"
  @mouseout="closeControl" >
    <span>
      <i class="fa fa-caret-down"></i>
    </span>
    <div class="user-ctrls is-pulled-left" 
    v-if="showControl ==true">
      <div class="user-ctrl-item"
      @click="openEditUserModal"><small>Edit</small> 
      </div>
      <!-- <div class="user-ctrl-item"><small>Assign Role</small></div> -->
      <div class="user-ctrl-item" @click="deleteUser(user.id)"><small>Delete User</small></div>
      <!-- <div class="user-ctrl-item" @click="unblockUser"><small>Unblock user</small></div> -->
    </div>
  </div>
  <div style="display:flex; justify-content:center">
    <div class="user-card-img ">{{user.fullname | getInitials}}</div> &nbsp; &nbsp; &nbsp;
    <div class="user-card-content is-pulled-right">
        <strong>{{user.fullname}}</strong>
    </br>
      <small><em>Role : <span style="color:green">{{user.roletypes}}</span></em></small><br/>
      <small>@{{user.username}}</small><br/>
      <small class="user-role">{{user.contactemail}}</small>
    </div>
    
  </div>
  <editUser :user="user" :isEditUserModalActive="isEditUserModalActive" :closeEditUserModal="closeEditUserModal" />
  
</div>