<div class="account-settings">
  <div class="field">
    <label class="label">Email Address</label>
    <div class="control has-icons-left is-fullwidth">
      <input class="input is-medium" type="text" :value="user.contactemail" :disabled="disableInputs"/>

      <span class="icon is-small is-left">
        <i class="fa fa-envelope"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Contact phone</label>
    <div class="control has-icons-left is-fullwidth">
      <input class="input is-medium" type="text" :value="user.phone" :disabled="disableInputs"/>

      <span class="icon is-small is-left">
        <i class="fa fa-phone"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Username</label>
    <div class="control has-icons-left is-fullwidth">
      <input class="input is-medium" type="text" :value="user.username" :disabled="disableInputs"/>

      <span class="icon is-small is-left">
        <i class="fa fa-at"></i>
      </span>
    </div>
  </div>

  <div class="account-settings-item is-clearfix">
    <div class="is-pulled-left">
      <span class="as-title">E-mail Notifications</span>
      <br/>
      <span class="as-subtitle">
        <small>Enable weekly email notifications.</small>
      </span>
    </div>

    <div class="is-pulled-right">
      <switches v-model="enable_mail" theme="bulma" type-bold="false" color="blue"></switches>
    </div>
  </div>

  <div class="account-settings-item is-clearfix">
    <div class="is-pulled-left">
      <span class="as-title">View Archive</span>
      <br/>
      <span class="as-subtitle">
        <small>Display archived documents and folders.</small>
      </span>
    </div>

    <div class="is-pulled-right">
      <switches v-model="enable_arc" theme="bulma" type-bold="true" color="blue"></switches>
    </div>
  </div>

  <div class="account-settings-item is-clearfix">
    <div class="is-pulled-left">
      <span class="as-title">Save drafts</span>
      <br/>
      <span class="as-subtitle">
        <small>Keep your unsaved files in draft.</small>
      </span>
    </div>

    <div class="is-pulled-right">
      <switches v-model="enable" theme="bulma" type-bold="true" color="blue"></switches>
    </div>
  </div>

  <br/>
  <div class="field is-grouped is-grouped-right">
    <p class="control">
      <a class="button is-secondary">
        Save changes
      </a>
    </p>
    <p class="control">
      <a class="button is-light">
        Cancel
      </a>
    </p>
  </div>
</div>