<div class="account-settings">
  <div class="field">
    <label class="label">Email Address</label>
    <div class="control has-icons-left is-fullwidth">
      <input class="input is-medium" type="text" placeholder="omarmohammed580@gmail.com" />

      <span class="icon is-small is-left">
        <i class="fa fa-envelope"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">What do you do?</label>
    <div class="control has-icons-left is-fullwidth">
      <input class="input is-medium" type="text" placeholder="Software developer" />

      <span class="icon is-small is-left">
        <i class="fa fa-briefcase"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Username</label>
    <div class="control has-icons-left is-fullwidth">
      <input class="input is-medium" type="text" placeholder="codebyomar" />

      <span class="icon is-small is-left">
        <i class="fa fa-at"></i>
      </span>
    </div>
  </div>

  <div class="account-settings-item is-clearfix">
    <div class="is-pulled-left">
      <span class="as-title">E-mail Notifications</span>
      <br/>
      <span class="as-subtitle">
        <small>Enable weekly email notifications.</small>
      </span>
    </div>

    <div class="is-pulled-right">
      <switches v-model="enable" theme="bulma" type-bold="true" color="blue"></switches>
    </div>
  </div>

  <div class="account-settings-item is-clearfix">
    <div class="is-pulled-left">
      <span class="as-title">View Archieve</span>
      <br/>
      <span class="as-subtitle">
        <small>Display archieved documents and folders.</small>
      </span>
    </div>

    <div class="is-pulled-right">
      <switches v-model="enable" theme="bulma" type-bold="true" color="blue"></switches>
    </div>
  </div>

  <div class="account-settings-item is-clearfix">
    <div class="is-pulled-left">
      <span class="as-title">Save drafts</span>
      <br/>
      <span class="as-subtitle">
        <small>Keep your unsaved files in draft.</small>
      </span>
    </div>

    <div class="is-pulled-right">
      <switches v-model="enable" theme="bulma" type-bold="true" color="blue"></switches>
    </div>
  </div>

  <br/>
  <div class="field is-grouped is-grouped-right">
    <p class="control">
      <a class="button is-secondary">
        Save changes
      </a>
    </p>
    <p class="control">
      <a class="button is-light">
        Cancel
      </a>
    </p>
  </div>
</div>