<div class="chatSection style-1">
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <i class="fa fa-ticket fa-4x"></i>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p class="ChatMessage">
          <strong>Customer support</strong>
          <br> Type your message below and we would respond as soon as possible. 
          Ensure you check the FAQs before asking for help. Talk to you soon.
          <br>
        </p>
      </div>
    </div>
  </article>
  <div class="chatTextbox">
    <div class="field has-addons is-horizontal">
      <div class="control is-expanded">
        <input class="input is-medium chat-input" type="text" placeholder="Type your message here">
      </div>
      <div class="control">
        <a class="button is-medium">
          Send
        </a>
      </div>
    </div>
  </div>
</div>