<div class="view">
  <div class="settings-section">
    <nav class="level">
      <div class="level-left">
        <div class="level-item"><h1 class="title is-5">Settings</h1></div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <a class="button is-medium">
            <span class="icon">
              <i class="fa fa-google"></i>
            </span>
            <span>Sync with Google Drive</span>
          </a>
        </div>
      </div>
    </nav>

    <div class="settings">
      <div class="settings-grid">
        <div class="profile-img  is-centered">
          <img class="user-dashboard-img" src="../../../assets/img/user.jpg">
          <p><a class="button is-text">Change picture</a></p>
          
          <br/>
          <div class="field">
            <label class="label is-small">Old password</label>
            <div class="control has-icons-left">
              <input 
                class="input" 
                type="text" 
                placeholder="******"
              />
    
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label is-small">New password</label>
            <div class="control has-icons-left">
              <input 
                class="input" 
                type="text" 
                placeholder="******"
              />
    
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <button class="button is-secondary is-fullwidth">Change</button>
            </div>
          </div>
        </div>

        <div class="account-settings">
          <div class="field">
            <label class="label">Email Address</label>
            <div class="control has-icons-left is-fullwidth">
              <input 
                class="input is-medium" 
                type="text" 
                placeholder="omarmohammed580@gmail.com"
              />
    
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">What do you do?</label>
            <div class="control has-icons-left is-fullwidth">
              <input 
                class="input is-medium" 
                type="text" 
                placeholder="Software developer"
              />
    
              <span class="icon is-small is-left">
                <i class="fa fa-briefcase"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left is-fullwidth">
              <input 
                class="input is-medium" 
                type="text" 
                placeholder="codebyomar"
              />
    
              <span class="icon is-small is-left">
                <i class="fa fa-at"></i>
              </span>
            </div>
          </div>

          <div class="account-settings-item is-clearfix">
            <div class="is-pulled-left">
              <span class="as-title">E-mail Notifications</span><br/>
              <span class="as-subtitle"><small>Enable weekly email notifications.</small></span>
            </div>

            <div class="is-pulled-right">
              <switches v-model="enable" theme="bulma" type-bold="true" color="blue"></switches>
            </div>
          </div>

          <div class="account-settings-item is-clearfix">
            <div class="is-pulled-left">
              <span class="as-title">View Archieve</span><br/>
              <span class="as-subtitle"><small>Display archieved documents and folders.</small></span>
            </div>

            <div class="is-pulled-right"><switches v-model="enable" theme="bulma" type-bold="true" color="blue"></switches></div>
          </div>

          <div class="account-settings-item is-clearfix">
            <div class="is-pulled-left">
              <span class="as-title">Save drafts</span><br/>
              <span class="as-subtitle"><small>Keep unsaved files in draft.</small></span>
            </div>

            <div class="is-pulled-right"><switches v-model="enable" theme="bulma" type-bold="true" color="blue"></switches></div>
          </div>

          <div class="account-settings-item is-clearfix">
            <div class="is-pulled-left">
              <span class="as-title">Manage blocked users</span><br/>
              <span class="as-subtitle"><small>View list of users you have blocked</small></span>
            </div>

            <div class="is-pulled-right">
              <a class="button">MANAGE BLOCKED USERS</a>
            </div>
          </div>

          <div class="field is-grouped is-grouped-right">
            <p class="control">
              <a class="button is-secondary">
                Save changes
              </a>
            </p>
            <p class="control">
              <a class="button is-light">
                Cancel
              </a>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>