<div class="box is-shadowless commentBox">
    <div class="tabs is-centered is-small">
        <ul>
            <li class="is-active">
                <a>All</a>
            </li>
            <li>
                <a>New
                    <br>
                    <i class="fa fa-circle" style="color:lightseagreen"></i>
                </a>
            </li>
            <li>
                <a>Modified
                    <br>
                    <i class="fa fa-circle " style="color:green"> </i>
                </a>
            </li>
            <li>
                <a>Tracking
                    <br>
                    <i class="fa fa-circle" style="color:blueviolet"></i>
                </a>
            </li>
            <li>
                <a>Deleted
                    <br>
                    <i class="fa fa-circle" style="color:red"> </i>
                </a>
            </li>
        </ul>
    </div>

    <div class="notification newact" 
    v-for="(actvty,index) in activitylist" 
    :key="index"
    :activitylist="activitylist"
    :id="actvty.id"
    :flowcolor="actvty.workflowid.colors"
    >
    <button class="delete" @click="deleteActvty('{{id}}')"></button>
        <nav class="level">
            <div class="level-left ">
                <div class="level-item ">
                    <i class="fa fa-circle" style="color:'flowcolor'"></i>
                </div> 
                    
                <div class="level-item has-text-centered "> 
                    <p>
                        <strong style="float:left"> {{actvty.documentid.receivedfrom}}   </strong><br>
                        <small class="wrap" style="text-align: left" >  {{actvty.comments}}</small>
                        <small style="text-align: left;float:left">{{actvty.documentid.description}}</small>
                    </p>
                </div>
            </div>
            <div class="level-right ">
             <div class="level-item has-text-centered ">
            <p class="heading">
              Workflow:  {{actvty.workflowid.workflowname}}
             <br>
             <small> Date: {{actvty.activitydate}} </small>
            </p>
            </div>
            </div>
        </nav>
    </div>
</div>