<div class="box is-shadowless commentBox" >
    <div class="tabs is-centered is-small">
        <ul>
            <li class="is-active">
                <a>All</a>
            </li>
            <li>
                <a>Deleted
                    <br>
                    <i class="fa fa-circle" style="color:red"> </i>
                </a>
            </li>
        </ul>
    </div>

    <div class="notification newact" 
    v-for="(actvty,index) in activitylist" 
    :key="index"
    :activitylist="activitylist"
    >
    <button class="delete" @click="deleteActvty()"></button>
        
               
            <div class="level-left ">
                <div class="level-item ">
                    <i class="fa fa-circle" style="color:'flowcolor'"></i>
                </div> 
                    
                <div class="level-item has-text-centered "> 
                    <p>
                        <strong style="float:left"> {{actvty.username}}   </strong><br>
                        <small class="wrap" style="text-align: left" >  {{actvty.activity}}</small>
                        <small style="text-align: left;float:left">{{actvty.description}}</small>
                    </p>
                </div>
            </div>
            <div class="level-right ">
             <div class="level-item has-text-centered ">
            <p class="heading">
              Workflow:  {{actvty.workflow}}
             <br>
             <small>{{actvty.duration}} ago</small>
            </p>
            </div>
            </div>
        </nav>
    </div>
</div>