<div class="view">
  <div class="user-section">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title is-5">User management</h1>
        </div>

        <div class="level-item">
          <span class="icon">
            <i class="fa fal fa-angle-double-right"></i>
          </span>
          <h1 class="title is-6">{{tab}}</h1>
        </div>
      </div>



      <div class="level-right" >
        <a class="button is-outlined is-primary is-small" @click="openNewUserModal">
          <span class="icon">
            <i class="fa fa-user-plus"></i>
          </span>
          <span>Add user</span>
        </a>
        <small></small>
        <a class="button is-outlined is-primary is-small" @click="changeUserCard">
          <span class="icon">
            <i class="fa fa-user"></i>
          </span>
          <span>View Users </span>
        </a>
        <a class="button is-outlined is-primary is-small" @click="changeRoleManager">
          <span class="icon">
            <i class="fa fa-briefcase"></i>
          </span>
          <span>Manage Roles </span>
        </a>

        <!-- <a class="button is-outlined is-primary is-small" @click="changeUserActivities">
          <span class="icon">
            <i class="fa fa-user"></i>
          </span>
          <span>User Activities </span>
        </a> -->

      </div>

      <addUser :isNewUserModalActive="isAddUserModalActive" :closeNewUserModal="closeNewUserModal" />
    </nav>
    <div v-show="displayUserActivities" class="user-page">
      <userActivities></userActivities>
    </div>
    <div v-show="displayRoleManager" class="user-page">
      <roleManager></roleManager>
    </div>
    <div v-show="displayUserCard" class="user-page">
      <div class="user-container">
        <template v-for="(user,index) in userslist">
          <userCard :user="user">
          </userCard>
        </template>
        </div>
      </div>
    </div>
  </div>
</div>