@import "../node_modules/bulma/sass/utilities/initial-variables";

$blue: #3273dc;
$pink: #3273dc;
$pink-invert: #daebfd;

$primary: $pink;
$success:#005744;
$primary-invert: $pink-invert;
$danger: #7f0a25;
$warning: #fff500;
$tabs-boxed-link-active-background-color: $primary;
$navbar-item-hover-background-color:transparent;
$tabs-toggle-link-border-width:1.5px;
$modal-card-title-color:$primary;
$modal-card-head-padding:5px;
$navbar-height:3.25rem;
$navbar-item-img-max-height:6.00rem;
$table-row-hover-background-color:$pink-invert;
@import "../node_modules/bulma/bulma.sass";
@import "./uploadbox.scss"