<nav class="level toolBar">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
      <span class="tag is-medium cmpny-name">FACTORY INC.</span>
    </div>

    <div class="level-item" v-if="routes.documents == true">
      <span class="breadCrumbIcon">
        <i class="fa fa-folder-open"></i>
      </span>
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li>
            <a href="#">Documents</a>
          </li>
          <li class="is-active">
            <a href="#" aria-current="page">Categories</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="level-item" v-else-if="routes.dashboard == true">
      <span class="breadCrumbIcon">
        <i class="fa fa-tachometer"></i>
      </span>
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li class="is-active">
            <a href="#" aria-current="page">Dashboard</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="level-item" v-else-if="routes.users == true">
      <span class="breadCrumbIcon">
        <i class="fa fa-user"></i>
      </span>
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li class="is-active">
            <a href="#" aria-current="page">Users</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="level-item" v-else-if="routes.settings == true">
      <span class="breadCrumbIcon">
        <i class="fa fa-gear"></i>
      </span>
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li class="is-active">
            <a href="#" aria-current="page">Settings</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="level-item" v-else-if="routes.help == true">
      <span class="breadCrumbIcon">
        <i class="fa fa-question-circle"></i>
      </span>
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li class="is-active">
            <a href="#" aria-current="page">Help</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- Right side -->
  <div class="level-right">
    <notifications :showNote="showNote"/>
    <div class="level-item toolBar-item" @click="showNote = !showNote">
      <i class="fa fa-bell-o"></i>
      <span class="tag is-rounded" style="background-color:#ffafa2"><strong>12</strong></span>
    </div>
    <div class="level-item toolBar-item">
      <i class="fa fa-user-o"></i>
    </div>
  </div>
</nav>