<div :class="{'modal':true,'is-active':isNewCategoryActive}">
  <div class="modal-content new-category-modal is-centered">
    <div class="close-btn" @click="closeNewCategory()">
      <i class="fa fa-close"></i>
    </div>

    <div class="new-category-content">
      <img src="../../../assets/img/newcategory.png" />
      <div class="field">
        <div class="control">
          <input class="input is-large notVisible" type="text" v-model="newCategory.documentType" autofocus>
        </div>
      </div>
    </div>

  </div>
</div>