.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  background-color: #3273dc;
  overflow-x: hidden;
  padding-top: 5px;
  box-shadow:  0px 0px 20px #888888;
  min-height: 100%;
}

.sidenav a {
  padding: 15px 15px 15px 20px;
  text-decoration: none;
  font-size: 17px;
  color: #ffffff;
  display: block;
  transition: 0.5s;
  transition-delay: 0.3ms;
  font-weight: 600;
}

.sidenav a:hover, .offcanvas a:focus{
  font-weight: 600;
  background-color: #004ac1;
}

.sidenav > div.cabsol {
  padding: 15px 15px 15px 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenav >.routeIsActive{
  color:ghostwhite;
  background-color: #004ac1;
}

.sidenav >.routeIsActive>.route-name{
  margin-left: 10px;
}


.toolBar{
  border-bottom: 1px solid #f1f1f1;
  padding: 15px 15px 15px 30px;
  box-shadow:  0px 0px 5px #888888;
  top:0;
  width: 100%;
  max-width:100%;
  background-color: ghostwhite;
  position: relative;
}

.view > div{
  padding-left: 30px;
}

.document_footer{
  bottom: 0;
  width: 85%;
  height:50px;
  position: fixed;
  background-color: #fff;
  box-shadow:  0px 0px 5px #888888;
  padding: 5px;
  transition: 0.3s;
  transition-delay: 0.3ms;
}

.subFooter{
  background-color: transparent;
  padding-top:50px;  
  overflow: auto;
  height: 250px;
}

.tab{
  background-color: ghostwhite;
}

.tabsCom{
  position:fixed;
}

.breadCrumbIcon{
  padding: 5px;
}

.folders{
  width: 160px;
  min-width:120px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.folders:hover{
  transition: 0.5px;
  cursor: pointer;
  color: grey;
}

.filter{
  padding: 7px;
}

.documentAction{
  padding: 7px;
  color:#42526e;
  font-weight: 600;
  cursor: pointer;
}

.pagntn{
  margin-right: 0px;
  margin-left: 0px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
}

div.documentAction:hover{
  width: 99%;
  background-color: #daebfd;
  color:#3273dc;
}

.foldersDiv{
  margin-top:0px;
}

.notify-img{
  width: 25px;
  height:25px; 
  border-radius: 50%;
  background-color: #ffafa2;
}

.notifications{
  width:300px;
  height: 400px;
  z-index:999999999;
  border-radius: 5px;
  background-color: #fff;
  position: fixed;
  box-shadow:0px 0px 5px #888888;
  top:70px;
  transition: 0.6s;
  overflow: hidden;
}

.notebox{
  border-radius: 0px;
  padding: 5px;
  border-bottom: 2.0px solid #fff;
  cursor: pointer;
}

.notificationHeader{
  background-color: #fff;
  padding: 5px;
  position: fixed;
  width: 300px;
  font-weight: 500;
}

.newNote{
  background-color: ghostwhite;
}

.noteboxcontent{
  font-size: 14.5px;
}

.style-1::-webkit-scrollbar
{
	width: 6px;
  background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar-thumb
{
  box-shadow: 0 0 4px #888888;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 1px #888888;
  background-color: #ccc;
}

.style-1{
  overflow-y: auto;
}

.toolBar-item{
  cursor: pointer;
}

.caret2:before{
  margin-left: 250px;
  margin-top: -12px;
  content: "";
  position: fixed;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid grey;
}

.noteTemplate{
  margin-top: 40px;
}

.cpyryt{
  bottom:0%;
  margin-top:100%;
  position: fixed;
  color: #fff;
  padding: 5px;
  font-weight: 600;
  background-color: #004ac1;
  width: inherit;
}

.doc-name{
  font-weight: 500;
  font-size: 16px;
}

.cmpny-name{
  font-weight: 500;
}

.commentImg{
  border-radius: 50%;
}

.commentBox{
  border:1px;
  margin-right: 300px;
  margin-left: 300px;
}

.newact{
  background-color : rgb(243, 247, 250);
  height :auto;
  padding-left:10px;
  padding-top:5px;
  text-align: left
}

.commentField{
  background-color:ghostwhite;
  border:2px solid #ccc;
  width: 500px;
}

.commentCtrls{
  margin-bottom: 30px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div>nav.commentHeader.level{
  background-color: #fff;
  z-index: 999999999;
  position: fixed;
  width:80%;
  margin-top: -5px;
  padding: 5px;
  margin-bottom: 30px;
}

.textarea:focus{
  border:1px solid #fff;
}

.help-area{
  position: absolute;
  background-image: url("../../assets/img/help-illust.png");
  background-repeat: no-repeat;
  width: inherit;
}

.chatSection{
  position: fixed;
  bottom: 40px;
  width: 55%;
  overflow-y: auto;
}

.chatTextbox{
  margin-top: 25px;
  bottom: 20px;
  width: 100%;
}

.ChatMessage{
  font-weight: 500;
}

.chat-input{
  background-color:gainsboro;
}

.faq{
  position:fixed;
  top:75px;
  height:90%;
  width:25%;
  bottom: 215px;
  right:1px;
  border-left:2px solid #ccc;
}

.faqHeader{
  background-color: #f9f9f9;
  color: #fff;
  width:100%;
  position: absolute;
  padding: 25px;
  border-bottom: 2px solid #ccc;
}

.faq-item{
  padding: 10px;
  font-weight: 500;
  text-decoration: underline;
  list-style: square;
}

.card-content>ul{
  list-style-type: inside;
}

.faq>.card-content{
  margin-top:80px;
}

.title{
  font-weight: 600;
  color:#3273dc;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 80%;
  height: 100px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top:  15%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.upload-modal{
  width: 600px;
  height: 450px;
  padding: 5px 15px 15px 15px;
  border-radius: 5px;
  background-color: #daebfd;
  box-shadow: 0 0 7px #888888;
  transition: 1.0ms;
  font-weight: 500;
  transition-delay: 5s;
}

.close-btn{
  float: right;
  cursor: pointer;
}

.close-btn:hover{
  color:#7f0a25;
}

.upload-btn-1{
  width: 100%;
  margin-top:10%;
  position: relative;
}

.new-category-modal{
  width:300px;
  height: 300px;
  padding: 10px;
  background-color: ghostwhite;
  box-shadow: 0 0 7px #888888;
  transition: 1.0ms;
  font-weight: 500;
  transition-delay: 5s;
}

.notVisible{
  opacity: 1;
}

.new-category-content{
  padding:30px;
  text-align: center;
  margin-top:10px;
}

.new-category-title{
  float:left;
  font-weight:500;
}

.new-category-title>h1{
  font-weight:500;
  color: purple;  
}

.new-project-modal{
  width:400px;
  height: 350px;
  padding: 10px;
  background-color: #f1f1f1;
  box-shadow: 0 0 7px #888888;
  transition: 1.0ms;
  font-weight: 500;
  transition-delay: 5s;
  border-radius: 3px;
}

.new-project-modal > .close-btn {
  color: #7f0a25;
}

.new-project-modal > .close-btn:hover {
  color: red;
}

.new-project-content{
  padding:30px;
  text-align: center;
  margin-top:35px;
}

.new-project-title{
  float:left;
  font-weight:500;
}

.new-project-title>h1{
  font-weight:500;
  color: #3273dc;  
}

.listType{
  display: block;
}

.category-based-actions{
  margin-right: 0px;
  margin-left: 0px;
  font-size: 15px;
}

.cba{
  padding-right: 10px;
  color: #42526e;
  cursor: pointer;
}

.cba.is-active{
  color:#3273dc;
}

.wrap{
  display:block;
  width:400px;
  word-wrap:break-word;
}

.back-btn{
  cursor:pointer;
  color:#42526e;
}

.back-btn:hover{
  color:#7f0a25;
}

.upload-done{
  margin-top: 4%;
}

.upload-done > div > .title{
  color:#333;
  margin-top:5px;
}

.upload-form{
  margin-top: 25px;
}

.next-btn{
  width: 100%;
}

.table_ctrl_small{
  background-color: #da251c;
  width:70px;
  float:right;
  height:25px;
  border-radius: 3px;
}

.table_ctrl_item {
  color:#fff;
  padding:7px 7px 7px 7px;
  cursor: pointer;
}

.table_ctrl_item:hover{
  background-color: transparent;
}
.signbox {
  background-color: rgb(243, 247, 250);
  padding: 20px;
  padding-top:0px;
  border-radius: 5px;
  width:800px;
  margin: 100px auto;
  
}

.success-message{
  text-align: center;
  margin-top:25%;
  color: #3273dc;
}

.userManagementModal{
  background-color:#fff;
  height: 700px;
  width: 700px;
  padding: 15px;
  border-radius:5px
}
.table_ctrl{
  background-color: #da251c;
  width:130px;
  float:right;
  height:25px;
  border-radius: 3px;
}
.table_ctrl_small{
  background-color: #da251c;
  width:70px;
  float:right;
  height:25px;
  border-radius: 3px;
}

.table_ctrl_item {
  color:#fff;
  padding:7px 7px 7px 7px;
  cursor: pointer;
}

.table_ctrl_item:hover{
  background-color: transparent;
}
.signbox {
  background-color: rgb(243, 247, 250);
  padding: 20px;
  padding-top:0px;
  border-radius: 5px;
  width:800px;
  margin: 100px auto;
  
}
.infield{
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  
}
.inputrad{
  border-radius: 50px;
}
.signbackground{
  background-image: url('../img/computicon.jpg');
  width:100%
}

.is-error {
  color:red;
  font-weight: 500;
}

.login-background{
  background: linear-gradient(-95deg,#FFFFFF,#cfe5fa );
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.login-box{
  width: 60%;
  height: 70%;
  background-image: url("../img/documents.png");
  background-repeat: no-repeat;
  background-size: 50% 100%;
  padding: 0px;
}

.sign-in{
  width:100%;
  height: 50%;
  background-color: #1c9dc5;
  color: gainsboro;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sign-up{
  width:100%;
  height: 50%;
  background-color: #1082a5;
  color: gainsboro;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.auth-section{
  padding: 0px;
}

.auth-title{
  font-size: 20px;
  font-weight: 500;
}

.sign-in:hover{
  font-size: 20px;
}

.sign-up:hover{
  font-size: 20px;
}

.company-id{
  color:#fff;
  font-weight: 400;
}

.auth-close-btn{
  float: right;
  cursor: pointer;
}

.auth-close-btn:hover{
  color: red;
}

.auth-forms{
  padding: 10px;
}

.auth-form-container{
  padding: 7% 15% 10% 15%;
}

.signin-header{
  color: #666;
  font-weight: 500;
}

.social-login-facebook{
  border: 1px solid #333;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 10px;
  display: flex;
  cursor: pointer;
}

.social-login-insta{
  border: 1px solid #333;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 10px;
  display: flex;
  cursor: pointer;
}

.social-login-twitter{
  border: 1px solid #333;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 10px;
  display: flex;
  cursor: pointer;
}

.social-login-btns{
  display: flex;
  flex-basis: space-between;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px 30px 20px;
}

.social-login-facebook:hover{
  color:#fff;
  background-color:#42526e;
  border: 1px solid #42526e;
}

.social-login-insta:hover{
  color: #fff;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.social-login-twitter:hover{
  color:#fff;
  background-color:#0084b4;
  border: 1px solid #0084b4;
}

div.sm-header{
  color: #999;
  padding: 10px;
  position: relative;
  z-index: 1;
}

div.sm-header::before {
  border-top: 2px solid #dfdfdf;
  content:"";
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%; left: 0; right: 0; bottom: 0;
  width: 95%;
  z-index: -1;
}

div.sm-header>span { 
  background: #fff; 
  padding: 0 15px; 
}

.welcome-msg{
  padding-bottom: 7%;
}

.typingText{
  padding: 0px 10px 10px 10px;
  font-size: 28px;
  font-weight: 600;
  color: gainsboro;
}

.homeLinks{
  display: flex;
  padding: 10px;
  font-weight: 400;
  align-content: center;
  justify-content: space-between;
  margin-top: 49%;
}

.homeLinks > a{
  color:#ccc;
}

.homeLinks > a:hover{
  color:gainsboro;
  border-bottom: 1px dotted gainsboro;
}

.company-id-top{
  height: 50%;
}

.company-id-bottom{
  height: 50%;
}

.logo-area{
  padding: 5px 5px 5px 15px;
  font-size: 26px;
  font-weight: 500;
  color:#382B5F;
}

.app-name{
  font-weight: 300;
}

.dashboard-area{
  padding: 15px 20px 20px 30px;
}

.doc-stats{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.acuity-card{
  background-color: #BCDEFA;
  border-radius: 5px;
  padding: 3px;
}

.doc-stats-item{
  padding:10px;
  text-align: center;
  color:#333;
  font-weight: 500;
  font-size: 17px;
}

h2.dash-title{
  color: #382B5F;
}

.overview{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.graph-area{
  padding-top: 2%;
}

.num{
  font-size: 25px;
}

.acuity-chart{
  background-color: ghostwhite;
  border-radius: 1px;
}

.user-name{
  padding-right: 4px;
  padding-left:4px;
  font-weight: 500;
}
.user-page{
  padding:10px 20px 20px 20px;
}
.user-container{
  display:grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding-left: 15px;
  padding-right:15px;
}

.user-section{
  padding:10px 20px 20px 20px;
}

.user-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  padding:20px;
  background-color: white;
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  border-radius: 5px;
}

.user-card-img{
  width:70px;
  height: 70px;
  border-radius:50%;
  background-color:#42526e;
  margin-right: 10px;
  color:#fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size:20px;
}

.user-card-content{
  margin-right:10px;
  font-weight: 400;
}

.user-role{
  font-weight: 500;
}

.user-elipsis{
  cursor: pointer;
  margin-right:10px;
}

.user-ctrls {
  position: absolute;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  font-weight: 600;
  width: 100px;
  border-radius: 1px;
}

.user-ctrl-item{
  padding: 5px;
  width: 100px;
  height: 30px;
}

.user-ctrl-item:hover{
  background-color: #daebfd;
}

.user-actions{
  position: absolute;
  top:50px;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  width: 120px;
  z-index:3;
  border-radius: 3px;
}

.user-action-item{
  padding: 7px;
  width: 120px;
  height: 40px;
  font-weight: 600;
}

.user-action-item:hover{
  background-color: #daebfd;
}

.new-user-modal{
  background-color: ghostwhite;
  color:#333;
  width: 500px;
  padding: 10px 20px 20px 20px;
  border-radius: 5px;
  border:1px solid #ccc; 
}

.new-user-title > h1{
  font-weight: 500;
  color:#333;
}

.new-user-modal > .close-btn {
  color: #333;
}

.new-user-content>.field>.label{
  color:#333;
}

.is-secondary{
  background-color: #1C3D5A;
  color:#fff;
}

.is-secondary:hover, .is-secondary:focus{
  background-color: #12283A;
  color:#fff;
}

.upload-title{
  text-transform: uppercase;
  margin-top: 5px;
  color:#42526e;
  text-decoration: underline;
  font-weight: 500;
}

.user-dashboard{
  display: grid;
  grid-template-columns: auto;
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  padding: 30px;
  border-radius: 5px;
}

.user-dashboard-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #42526e;
}

.user-settings-img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #42526e;
}

.user-dashboard-content{
  font-weight: 500;
}

.user-dashboard-content>h1{
  font-weight: 700;
  font-size: 20px;
}

.settings-section{
  padding:7px 25px 20px 25px;
}

.settings{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  padding-left: 10%;
}

.settings-grid{
  display: grid;
  grid-template-columns: auto 100%;
  grid-gap: 90px;
}

.account-settings{
  padding: 0px 10px 10px 10px;
}

.account-settings-item{
  font-weight: 500;
  padding-top:18px;
}

.as-title{
  font-size: 20px;
}

.as-subtitle{
  color:#999;
}

.link-disabled{
  pointer-events: none;
  color: #ccc;
}

.link-is-active{
  font-weight: 500;
  color:#000;
}

.settings-link:hover{
  background-color: gainsboro;
}

.settings-link{
  padding:5px;
}

.change-logo{
  widows: 50px;
  height: 50px;
  border-radius: 50%;
}

.preview__canvas {
  display: flex;
  justify-content: space-around;
}

.preview__canvas__item {
  cursor: zoom-in;
  border: 1px solid #ccc;
}

.global-upload-btn{
  cursor: pointer;
}

.global-search-button{
  padding: 0px 10px 0px 10px;
  height: 250px;
}

.max-screen {
  position: fixed;
  width: 90%;
  height: 100%;
}

.max-btn {
  font-size:35px;
}

.search-error {
  color:red;
  font-size: 12px;
  font-weight: 500;
}
.box{
  background-color: transparent;
}