.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  background-color: #3273dc;
  overflow-x: hidden;
  padding-top: 85px;
  box-shadow:  0px 0px 10px #888888;
}

.sidenav a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 17px;
  color: #ffffff;
  display: block;
  transition: 0.5s;
  transition-delay: 0.3ms;
  font-weight: 600;
}

.sidenav a:hover, .offcanvas a:focus{
  font-weight: 600;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenav>.routeIsActive{
  color:#333333;
  background-color: #daebfd;
  margin-left:10px
}

.toolBar{
  border-bottom: 1px solid #f1f1f1;
  padding: 20px 20px 20px 30px;
  box-shadow:  0px 0px 5px #888888;
  top:0;
  width: 85%;
  background-color: #fff;
  position: fixed;
  z-index: 999999;
}

.view > div{
  padding-left: 30px;
  margin-top: 100px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {top: 0px;}
  to {bottom: 0px;}
}

@keyframes mymove {
  from {top: 0px;}
  to {bottom: 0px;}
}

.document_footer{
  bottom: 0;
  width: 85%;
  height: 50px;
  position: fixed;
  background-color: #fff;
  box-shadow:  0px 0px 5px #888888;
  padding: 5px;
  transition: 0.3s;
  transition-delay: 0.3ms;
}

.subFooter{
  background-color: transparent;
}

.tab{
  background-color: ghostwhite;
}

.breadCrumbIcon{
  padding: 5px;
}

.folders{
  padding: 35px;
  cursor: pointer;
}

.filter{
  padding: 7px;
}

.documentAction{
  padding: 5px;
  color:#42526e;
  font-weight: 600;
  cursor: pointer;
}

.pagntn{
  padding-right: 35px;
  padding-left: 35px;
}

div.documentAction:hover{
  width: 90%;
  background-color: #daebfd;
  color:#3273dc;
}