<div class="folders" @mouseover="showAttr" @mouseleave="hideAttr" @dblclick="getChild()">
  <div style="display:inline-flex">
    <div style="margin:2px" v-if="isAttr == true">
      <input type="checkbox" v-model="allSelected">
    </div>
    <img src="../../../../assets/img/folder4.png" />
    <div v-if="isAttr == true" class=" tooltip">
      <i class="fa fa-ellipsis-h"></i>
      <span class="tooltiptext">
        <div><small>{{document.documentType}} ({{document.haschild}})</small></div>
        <div><small>{{document.dateCreated | formatDate}}</small></div>
      </span>
    </div>
  </div>
  <div>
    <small class="doc-name">{{document.documentType}}</small>
    <span style="color:#7f0a25" v-show="allSelected == true"><i class="fa fa-check"></i></span>
  </div>
</div>
